body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}   

input {
    width: 80%;
    height: 10%;
    padding: .3rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: .2rem;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2860ae;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4993e2;
}

a {
    cursor: pointer;
}