#info-section {
    display: flex;
    flex-direction: column;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .5rem;
    height: 22rem;
    gap: 5rem;
}

#current-date {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#current-date p{
    margin: inherit;
    margin-left: .5rem;
    font-weight: bold;
}

#current-date #current-date-day{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: .3rem;
    color: rgb(22, 118, 22);
}


#info-subtitle {
    font-style: italic;
}

.divider-line {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#selected-day-schedule {
    overflow-y: scroll;
    /* thin=Nos muestra la barra O none= No nos muestra la barra */
    scrollbar-width: none; 
    /* Para Internet Explorer */
    -ms-overflow-style: none; 
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #info-section {
        height: 32rem;
    }
}
