#calendar {
    display: flex;
    width: 20rem;
    height: 50%;
    border: solid 0.1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
    font-size: .5rem;
}

#calendar h2{
    font-size: 1rem;
}

#calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

button {
    background-color: #000;
    border: none;
    color: white;
    padding: .1rem .8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: .1rem;
    margin: .3rem;
}

button:hover {
    opacity: 0.7;
}

select {
    margin: .1rem;
}

.calendar-controls-select{
    width: 5rem;
}

#calendario {
    border: .1rem solid #ddd;
    font-size: .5rem;
}

th, td {
    border: .1rem solid #ddd;
    text-align: center;
    font-size: .8rem;    
}

th {
    background-color: #f2f2f2;
    width: 2rem;
    height: 1rem;   
}

td {
    cursor: pointer;
}

table {
    margin-bottom: .5rem;
}

.anterior {
    background-color: rgba(255, 0, 0, 0.3); 
}

.actual {
    background-color: yellow;
}

.posterior {
    background-color: rgba(0, 255, 0, 0.3);
}

.selected {
    background-color: rgb(8, 67, 8);
    color: white;
}
