.calendar-container{
    margin: 1rem 0 0;
}

.calendar-container > p{
    font-weight: bold;
    text-align: center;
    display: flex;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .5rem;
    padding: .5rem;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .5rem;
}

#calendar h2{
    font-size: 1rem;
    margin-bottom: 2rem;
}

#calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 20rem;
}

#calendar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    width: 1.5rem;
    height: 1.5rem;
}

#calendar button:hover {
    opacity: 0.7;
}

select {
    border: .2rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .1rem;
}

.calendar-controls-select{
    width: 7rem;
}

#calendario {
    border: .2rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: .5rem;
    width: 20rem;
}

th, td {
    border: .2rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: .8rem;    
}

th {
    border: .2rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 2rem;
    height: 1rem;   
}

td {
    cursor: pointer;
}

table {
    margin-bottom: .5rem;
}

.anterior{
    background-color: rgba(255, 0, 0, 0.3);
    cursor: not-allowed;
}

.not-selected {
    border: none;
    cursor: not-allowed;
}

.actual {
    background-color: yellow;
}

.posterior {
    background-color: rgba(0, 255, 0, 0.3);
}

.selected {
    background-color: rgb(8, 67, 8);
    color: white;
}

.spinner-button{
    position: absolute;
}

.spinner-button::after {
    display: flex;
    margin: 13rem 40vw;
    width: 5rem;
    height: 5rem;
}


@media only screen and (min-width: 768px) and (max-width: 1080px){
    #calendar-container{
        font-size: 1.5rem;
        margin-top: 6rem;
    }

    #calendar, #info-section{
        margin: 1rem 2rem;
    }

    #calendar h2{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #calendar-controls{
        width: 25rem;
    }

    #calendar-controls button{
        width: 3rem;
        height: 3rem;
    }

    .calendar-controls-select{
        width: 8rem;
    }

    #calendario {
        width: 30rem; 
    }

    th, td {
        width: 5rem;
        height: 2rem;
        font-size: 1rem;
    }

    .spinner-button::after {
        margin: 13rem 41vw;
        width: 5rem;
        height: 5rem;
    }
}

@media only screen and (min-width: 1081px) {
    #calendar{
        margin: 8rem 30rem 1rem;
    }

    .calendar-container > p{
        margin: 7rem 30rem 1rem;
    }

    #calendar-controls{
        width: 28rem;
    }

    #calendar-controls button{
        height: 2.5rem;
    }

    #calendar-controls select{
        width: 10rem;
        height: 3rem;
    }

    #calendario {
        width: 25rem; 
        height: 15rem;
    }

    #info-section{
        margin: 0 25rem 1rem;
        height: 30rem;
    }

    #info-section p{
        margin-left: .5rem;
    }

    .spinner-button::after {
        margin: 13rem 42vw;
        width: 10rem;
        height: 10rem;
    }
}