#footer-cards-container{
    font-size: .8rem;
    margin: 4rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: #466959;
}

.footer-card {
    margin: .5rem .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 16rem;
}

.footer-card-icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 50%;
    border: .5rem solid rgb(255, 255, 255);
}

.footer-card-content h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}
.footer-card a{
    text-decoration: underline;
    color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #footer-cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
}

@media only screen and (min-width: 1081px) { 
    .footer-card {
        height: 25rem;
    }
    
    #footer-cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    .footer-card p{
        margin: 2rem;
    }
}
