#header{
    font-size: .4rem;
    background-color: #3d6608;
    width: 100%;
    display: flex;
    align-items: center;
}

#header h1{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7rem;
}

#header .header-right{
    font-size: .6rem;
    display: flex;
    justify-content: center;
    border: .1rem solid #ccc;
    border-radius: .3rem;
    background-color: #e5a028;
    margin: 0 7rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#header-avatar-btn{
    border: none;
    background-color: #3d6608;
    position: absolute;
    right: 1rem;
}

#user-avatar{
    width: 1.3rem;
    height: 1.3rem;
    background-color: #ccc;
    border-radius: 50%;
}

.nav-items {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #e5a028;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    transform: translateX(-100%);
    transition: 0.3s ease all;
}

.nav-items a {
    text-align: center;
    padding: .8rem;
    color: black;
    text-decoration: none;
    font-size: .7rem;
    font-weight: bold;
    border: 2px solid #000000;
    cursor: pointer;
}

.nav-items-user a{
    text-align: center;
    padding: .8rem;
    color: black;
    text-decoration: none;
    font-size: .7rem;
    font-weight: bold;
    border: 2px solid #000000;
    cursor: pointer;
}

.nav-toggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
}

.nav-toggle span {
    width: 23px;
    height: 3px;
    background-color: black;
    margin-bottom: 2px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all 0.2s linear;
}

.close span {
    transform: rotate(45deg) translate(0px, 0px);
}

.close span:nth-child(2){
    display: none;
}

.close span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);
}

.open {
    width: 20%;
    transform: translateX(.5rem) !important;
}

.nav-items-user {
    position: absolute;
    top: 4rem; 
    right: -35rem;
    background-color: #e5a028;
    display: flex;
    flex-direction: column;
    height: auto;
    transform: translateX(-20rem); 
    transition: 0.3s ease all;
}

#header-avatar-btn {
    cursor: pointer;
}

#header-avatar-btn.active + .nav-items-user {
    width: 20%;
    transform: translateX(-35.5rem) !important;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #header {
        font-size: .7em;
        width: 100%;
        display: flex;
        align-items: center;
    }
    #header h1 {
        font-size: 1rem;
        width: 63%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #header .header-right {
        width: 15%;
        height: 2rem;
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0 .5rem;
        font-size: .8rem;
    }
    
    #user-avatar{
        width: 1.5rem;
        height: 1.5rem;
    }
    .nav-toggle {
        width: 8%;
    }
    
    .nav-toggle span {
        width: 27px;
        height: 4px;
        margin-bottom: 4px;
    }
}

@media only screen and (min-width: 1081px) {
    #header {
        font-size: .7em;
        width: 100%;
        display: flex;
        align-items: center;
    }
    #header h1 {
        font-size: 1.5rem;
        width: 70%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    #header .header-right{
        width: 15%;
        height: 2rem;
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0 .5rem;
        font-size: 1rem;
    }

    .navbar {
        background-color: #e5a028;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-toggle {
        width: 10%;
    }

    .button-menu-toggle {
        font-weight: bold;
        font-size: 20px;
        margin: 15px;
        color: black;
    }

    .nav-items a{
        padding: .8rem;
        color: black;
        text-decoration: none;
        font-size: .8rem;
        font-weight: bold;
        border: 2px solid #000000;
        cursor: pointer;
    }

    .nav-toggle {
        display: none;
    }

    #user-avatar{
        width: 2rem;
        height: 2rem;
    }

    .nav-toggle span {
        width: 27px;
        height: 4px;
        margin-bottom: 4px;
    }
}