#header{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}
#header a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 35rem;
    justify-content: center;
    align-items: center;
}

#title{
    padding: 0 16rem;
}


/* Si necesitamos que tenga la barra de scroll vertical
#selected-day-schedule::-webkit-scrollbar {
    width: 0.5rem;
}

#selected-day-schedule::-webkit-scrollbar-thumb {
    background-color: darkgray;
}
 */