.message{
    color: red;
    text-align: center;
}

.register-user{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid #ccc;
}

#form-login{
    margin: 3rem .5rem;
    padding: 1rem;
}

.form-login__footer{
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-login{
        margin: 3rem 5rem 3rem;
        height: 22rem;
    }
    
    #form-login button{
        margin-top: .5rem;
    }
}

@media only screen and (min-width: 1081px) {
    #form-login{
        font-size: 1.5rem;
        margin: 8rem 35rem 3rem;
    }
    #form-login input{
        height: 3rem;
    }

    #form-login button{
        margin: 3rem 0;
    }

    .register-user{
        margin-bottom: 5rem;
    }
}