.message{
    color: red;
    text-align: center;
}

.register-user{
    margin: 0 auto;
    display: flex;
    background-color: #1d7723;
    color: #fff;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
}

#form-login{
    margin: 3rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.form-login__footer{
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-login{
        font-size: 1.5rem;
        margin: 3rem 5rem 3rem;
        height: 22rem;
    }
    
    #form-login button{
        margin-top: .5rem;
        width: 15rem;
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .register-user{
        width: 20rem;
        padding: 2rem 0;
    }
}

@media only screen and (min-width: 1081px) {
    #form-login{
        font-size: 1.5rem;
        margin: 8rem 40rem 3rem;
    }
    #form-login input{
        height: 3rem;
    }

    #form-login button{
        width: 20rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 3rem 0;
    }

    .register-user{
        width: 20rem;
        height: 3rem;
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }
}