#form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 25vh;
    padding: 1rem;
    margin-top: 3rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#form-footer{
    width: 100%;
    margin: .5rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-login{
        margin-top: 4rem;
        height: 35vh;
        font-size: 1.5rem;
    }
    #form-footer{
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 1081px) {
    #form-login{
        margin-top: 5rem;
        height: 45vh;
        font-size: 1.5rem;
    }
    #form-footer{
        margin-top: 2rem;
    }
}