{% extends 'base.html' %}
{% load static %}
{% block title %}Registrar Usuario{% endblock title %}
{% block links %}

<link rel="preload" href="{% static 'css/reset.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/base.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/header.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'"> 
<link rel="preload" href="{% static 'css/user/register-user.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/footer.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
{% endblock links %}
{% block content %}
    {% include 'includes/header.html' with show_nav=True show_avatar_user=True %}
    <section id="register-user-container">
        <h2>Registrar Usuarios</h2>
        <form id="form-register" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if messages %}
                <section id="messages">
                    {% for message in messages %}
                        <p class="message {% if message.tags %} {{ message.tags }} {% endif %}">
                            {{ message }}
                        </p>
                    {% endfor %}
                </section>
            {% endif %}
            
            <label for="username">Usuario:</label>
            {{ form.username }}
            <label for="password">Contraseña:</label>
            {{ form.password }}
            <label for="confirm_password">Repetir Contraseña:</label>
            {{ form.confirm_password }}
            <label for="first_name">Nombres:</label>
            {{ form.first_name }}
            <label for="last_name">Apellidos:</label>
            {{ form.last_name }}
            <label for="email">Email:</label>
            {{ form.email }}
            <label for="picture">Foto:</label>
            {{ form.picture }}

            <button type="submit">
                Registrar
            </button>
        </form>
    </section>
    {% include 'includes/footer.html' %}
    <script type="module" src="{% static 'js/menu.js' %}" ></script>
    <script type="module" src="{% static 'js/timerRemover.js' %}" ></script>
    <script type="module" src="{% static 'js/includes/footer.js' %}" ></script>
{% endblock content %}