{% extends 'base.html' %}
{% load static %}
{% block title %}Registrar Usuario{% endblock title %}
{% block links %}
{% comment %} <link rel="preload" href="{% static 'css/base.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/login.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'"> {% endcomment %}
{% endblock links %}
{% block content %}
    <h1>Registrar Usuarios</h1>
    <form id="form-register" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Registrar
        </button>
        {% for m in messages%}
            <p>{{ m }}</p>
        {% endfor %}
    </form>
{% endblock content %}
