{% extends 'base.html' %}
{% load static %}
{% block title %}Enviar Email{% endblock title %}
{% block links %}
<link rel="preload" href="{% static 'css/reset.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/base.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/header.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'"> 
<link rel="preload" href="{% static 'css/user/send-email.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">   
<link rel="preload" href="{% static 'css/shift/modal_shift_details.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
{% endblock links %}
{% block content %}
    {% include 'includes/header.html' with show_nav=True show_avatar_user=True %}
    <section class="send-email-container">
        <h2>Enviar Email</h2>
        <form id="send-email-form" method="post" class="send-email__form">
            {% csrf_token %}
            {% if messages %}  
                {% for message in messages %}
                    <p id="send-email-container__message" class="send-email-container__message">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <label for="email">Correo electrónico:</label>
            {{ form.email }}
            <label for="subject">Asunto:</label>
            {{ form.subject }}
            <label for="message">Mensaje:</label>
            {{ form.message }}
            <button type="submit" id="send-email-form__btn" class="send-email-form__btn">
                <span class="spinner" id="spinner"></span>
                <span class="text-btn" id="text-btn">Enviar</span>
            </button>
        </form>
    </section>
    {% include 'includes/footer.html' %}
    <script type="module" src="{% static 'js/menu.js' %}" ></script>
    <script type="module" src="{% static 'js/spinner.js' %}" ></script>
{% endblock content %}