{% extends 'base.html' %}
{% load static %}
{% block title %}Horarios de Atención Operadores{% endblock title %}
{% block links %}
<link rel="preload" href="{% static 'css/reset.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/base.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/header.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'"> 
<link rel="preload" href="{% static 'css/user/attentions-times-users.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/footer.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
            
{% endblock links %}
{% block content %}
    {% include 'includes/header.html' with show_nav=True show_avatar_user=True %}
    <h2 class="users-attentions-times-title">Horarios de Atención de los Operadores</h2>
    <section class="users-attentions-times-container">
        
        {% if users %}
            {% for user in users %}
                <section class="users-attentions-times__section">
                    <p>
                        <strong>
                            Usuario: 
                        </strong> 
                        {{ user.username }} 
                    </p> 
                    <p>
                        <strong> 
                            Horario de inicio de atención: 
                        </strong> 
                        {{ user.start_time_attention }} 
                    </p>
                    <p>
                        <strong>
                            Horario de finalización de atención:
                        </strong> 
                        {{ user.end_time_attention }}
                    </p>
                    <span class="users-attentions-times__btns">
                        <a href="{% url 'view-user-shifts-today' user.username %}" >
                                Sus Turnos Para hoy
                        </a>
                        <a href="{% url 'view-user-all-shifts' user.username %}" >
                                Todos Sus Turnos
                        </a>
                    </span>
                </section>
            {% endfor %}
        {% else %}
            <p>No existen otros operadores.</p>
        {% endif %}
    </section>
    {% include 'includes/footer.html' %}
    <script type="module" src="{% static 'js/menu.js' %}" ></script>
    <script type="module" src="{% static 'js/includes/footer.js' %}" ></script>
{% endblock content %}
