{% extends 'base.html' %}
{% load static %}
{% block title %}Turnos para hoy{% endblock title %}
{% block links %}
<link rel="preload" href="{% static 'css/reset.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/base.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/header.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">  
<link rel="preload" href="{% static 'css/user/attentions-times-users.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/shift/modal_shift_details.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/modal_update_shift.css' %}" 
            as="style" onload="this.onload=null;this.rel='stylesheet'">
{% endblock links %}
{% block content %}
    {% include 'includes/header.html' with show_nav=True show_avatar_user=True %}
    {% include 'includes/modal_update_shift.html' %}
    <h2 class="users-attentions-times-title">Turnos para hoy de {{ username }}</h2>
    <section class="users-attentions-times-container">
        {% if not user_shifts_today %}
            <h3>No posee turnos para hoy</h3>
        {% endif %}
        {% for shift in user_shifts_today %}
        <section class="users-attentions-times__section">
            <p>
                <strong>
                    Apellido y Nombre: 
                </strong>
                    {{ shift.id_person }} 
                </p>
            <p>
                <strong>
                    Fecha y Hora:
                </strong> 
                {{ shift.date }} - {{ shift.hour }}
            </p>
            <span class="users-attentions-times__btns">
                <a class="asignment-btn" href="{% url 'user-confirm-shift' shift.id %}" >
                    Asignarmelo
                </a>
            </span>
        </section>
        {% endfor %}
    </section>
    <a href="{% url 'get-attentions-times' %}" 
        class="users-attentions-times__close-btn">
        Cerrar
    </a>
    {% include 'includes/footer.html' %}
    <script type="module" src="{% static 'js/menu.js' %}" ></script>
    <script type="module" src="{% static 'js/modal_update_shift.js' %}" ></script>
{% endblock content %}