<header id="header">    
    <h1 id="title">Sistemas de turnos de Autoridad de Registro UNLu</h1>
    {% if show_index_link %}
        <a id="request-shift" class='header-right' href="shift/home/">Solicitar Turno</a>
    {% endif %}
    {% if show_nav %}
        <nav id="navbar" class="navbar">
            <section id="_items" class="nav-items">
                <a href="{% url 'home-user' %}">Home</a>
                <a href="{% url 'update-attention-time' %}">Modificar Su Horario de Atención</a>
                <a href="{% url 'get-attentions-times' %}">Visualizar Horarios Operadores</a>
                <a href="{% url 'update-password' %}">Cambiar Contraseña</a>
                <a href="{% url 'reports' %}">Reportes</a>
                <a href="{% url 'user-logout' %}">Cerrar Sesion</a>
                
            </section>
        </nav>
        <nav id="_toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </nav>
    {% endif %}
</header>