{% load static %}
<header id="header">
    
    {% if show_nav %}
    {% if user.is_authenticated %}
        <nav id="navbar" class="navbar">
            <section id="_items" class="nav-items">
                <a href="{% url 'home-user' %}" aria-label="home">Home</a>
                <a href="{% url 'get-attentions-times' %}" aria-label="show-operator-times">Visualizar Horarios Operadores</a>
                <a href="{% url 'get-confirm-shifts-today' %}" aria-label="show-today-shifts">Visualizar Turnos Confirmados Hoy</a>
                <a href="{% url 'send-email' %}" aria-label="send-mail">Enviar Mail</a>
                <a href="{% url 'list-shifts-filter-views' %}" aria-label="reports">Reportes</a>
            </section>
        </nav>
    {% else %}
        <nav id="navbar" class="navbar">
            <section id="_items" class="nav-items">
                <a href="{% url 'home-user' %}" aria-label="home">Home</a>
            </section>
        </nav>
    {% endif %}
        
        <nav id="_toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </nav>
    {% endif %}
    <h1 id="title">Sistemas de turnos Autoridad Registro UNLu</h1>
    {% if show_avatar_user %}
        <button type="button" id="header-avatar-btn" aria-label="avatar">
            <img id="user-avatar" src="{% static 'assets/user_avatar.png' %}" alt="User Avatar">
        </button>
        
        <section id="_items-user" class="nav-items-user">
            <a href="{% url 'update-attention-time' %}" aria-label="update-attention-time">Modificar Horario de Atención</a>
            <a href="{% url 'update-password' %}" aria-label="update-password">Cambiar Contraseña</a>
            <a href="{% url 'update-picture' %}" aria-label="update-picture">Cambiar Foto</a>
            <a href="{% url 'user-register' %}" aria-label="create-user">Crear Usuario</a>
            <a href="{% url 'update-footer' %}" aria-label="update-footer">Actualizar Pie Página</a>
            <a href="{% url 'user-logout' %}" aria-label="signout">Cerrar Sesion</a>
        </section>
    {% endif %}
    {% if show_index_link %}
        <a href="shift/home/" aria-label="home" class="request-shift">Solicitar Turno</a>
    {% endif %}
</header>
