<section id="cancel-shift-modal" class="modal">
    <section class="modal-content">
        <p id="modal-message">Cancelar Turno</p>
        <textarea id="cancel-description" 
                    rows="4" 
                    cols="50" 
                    placeholder="Agrega una descripción..."></textarea>
        <span id="char-count"><strong>200</strong> caracteres restantes</span>
        <span class="modal-buttons">
            <button id="close-modal-btn">Cancelar</button>
            <button id="confirm-cancel-btn">Confirmar Cancelación</button>
        </span>
    </section>
</section>
