.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #CCC;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content > p {
    font-weight: bold;
    margin-bottom: 1rem;
}

#cancel-description{
    width: 90%;
}

.modal-buttons {
    margin-top: 1rem;
    width: 100%;
}

.modal-buttons button {
    margin: .5rem;
}

#close-modal-btn, #cancel-button, .modal-form-content-btn-cancel{
    background-color: #d10314;
    margin-bottom: .5rem;
}

#cancel-shift-modal.show {
    display: flex;
}

#confirmation-modal.show {
    display: flex;
}

.modal-email-error-text {
    display: none;
}

.modal-email-error-text-show {
    display: block;
    color:  #fd1c1c;
    margin: 0 0 1rem;
}  

@media only screen and (min-width: 768px) and (max-width: 1080px){
    .modal-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .modal-buttons button {
        width: 12rem;
        height: 4rem;
    }
}

@media only screen and (min-width: 1081px) {
    #cancel-description{
        height: 15rem;
    }

    .modal-buttons {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}