<section id="edit-modal" class="modal-edit">
    <section class="modal-content-edit">
        <h2>Editar Aditional Information</h2>
        <label for="edit-title">Título:</label>
        <input type="text" id="edit-title" name="edit-title">
        
        <label for="edit-description">Descripción:</label>
        <textarea id="edit-description" name="edit-description"></textarea>

        <label for="edit-icon">Icono:</label>
        <input type="file" id="edit-icon" name="edit-icon">
        <img id="edit-icon-preview" src="" alt="Icono">
        
        <label for="edit-link">Link:</label>
        <input type="text" id="edit-link" name="edit-link">
        
        <span class="modal-buttons">
            <button id="edit-cancel-button">Cancelar</button>
            <button id="edit-save-button">Editar</button>
        </span>
    </section>
</section>