{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: Esteban Iarza, estudiante de la UNLu.">
    <title>Solicitud de Turno</title>
    <link rel="preload" href="{% static 'css/home.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{% static 'css/modal_select_shift.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{% static 'css/calendar.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{% static 'css/calendar_info_section.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/modal_select_shift.css' %}">
        <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
        <link rel="stylesheet" href="{% static 'css/calendar_info_section.css' %}">
    </noscript>
</head>
<body>
    <header>
        <h1>Sistemas de turnos de Autoridad de Registro UNLu.</h1>
    </header>
    {% include 'shift/calendar.html' %}
    {% include 'shift/modal_select_shift.html' %}
    <script type="module" src="{% static 'js/index.js' %}" ></script>
</body>
</html>


{% comment %} <script src="{% static 'js/calendario.js' %}" defer></script>
    {{ events|json_script }} {% endcomment %}