<section id="appointmentModal" class="modal">
    <section id="modal-content" class="modal-content">
        <h2 class="modal-title">Solicitud de Turno</h2>
        <p id="selectedTime" tabindex="-1"></p>
        <p id="selectedDate" tabindex="-1"></p>
        <section class="modal-form-content">
            <label class="modal-label" for="emailInput">Ingrese su email:</label>
            <input type="text" class="modal-input" id="emailInput" placeholder="Email">
            <p id="modal-email-error-text" class="modal-email-error-text">
                El correo electrónico ingresado es inválido
            </p>
            

            <label class="modal-label" for="apellidoInput">Ingrese su apellido:</label>
            <input type="text" class="modal-input" id="apellidoInput" placeholder="Apellido">
            

            <label class="modal-label" for="nombreInput">Ingrese su nombre:</label>
            <input type="text" class="modal-input" id="nombreInput" placeholder="Nombre">
            
            <button id="modal-form-content-close-btn" class="modal-form-content-btn-cancel">
                Cancelar
            </button>
            <button id="modal-form-content-request-shift-btn" 
                    class="modal-form-content-btn-confirm" 
                    disabled>
                Solicitar Turno
            </button>
        </section>
    </section>
</section>
