<section id="shift-details-modal" class="modal" itemscope itemtype="https://schema.org/Event">
    <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">

    <section id="shift-details-modal-content" class="modal-content">
        <p class="shift-details-modal-content-title" itemprop="name">Detalles del turno</p>
        <section id="shift-details-modal-body">
        </section>
        <span class="modal-buttons">
            <button id="close-modal-btn" class="shift-details-modal-content-btn-close">
                Cerrar
            </button> 
        </span>
    </section>
</section>