body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    margin-top: 1.75rem;
}

.login-container{
    height: 75vh;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin: 3.5rem auto;
    padding: 1rem;
    background-color: #006633;
    border-radius: .3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container-form-footer{
    color: rgba(255,255,255,1);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    color: rgba(255, 255, 255, 0.93);
    margin-bottom: 5px;
}

input {
    padding: .8rem;
    margin-bottom: .8rem;
    background-color: rgba(255,255,255,.7);
}

.login-container-span input {
    width: 85%
} 

.login-container-span{
    width: 100%;
}

.login-container-span svg{
    width: 1rem;
    height: 1rem;
    padding: 0 .3rem;
}

button {
    padding: .8rem;
    background-color: rgba(255,255,255,.8);
    color: #737373;
    border: none;
    cursor: pointer;
    margin-bottom: .8rem;
    border-radius: 0.3rem;
}

.error {
    color: #ff0000;
}

.footer_login-container{
    display: flex;
    justify-content: space-between;
}

.footer_login-container a{
    color: rgba(255,255,255,1);
    text-decoration: none;
}

/* Responsive Styles */

@media only screen and (max-width: 600px) {
    .login-container .signup-container {
        margin: 20px;
        max-width: none;
    }

    input, button {
        width: 100%;
    }
}
