{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Solicitud de Turno</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <h1>Sistemas de turnos de Autoridad de Registro UNLu.</h1>
    </header>

    <section id="container">
        <section id="calendar">
            <h2>Seleccione el día y después el horario.</h2>
            <section id="calendar-controls">
                <button id="prevMonth" onclick="changeMonth(-1)">&lt;</button>
                <select id="selectMes" class="calendar-controls-select" onchange="changeMonth(0)">
                </select>
                <select id="selectAnio" class="calendar-controls-select" onchange="changeMonth(0)">
                </select>
                <button id="nextMonth" onclick="changeMonth(1)">&gt;</button>
            </section>
            <table id="calendario">
                <thead>
                    <tr>
                        <th>Dom.</th>
                        <th>Lun.</th>
                        <th>Mar.</th>
                        <th>Mie.</th>
                        <th>Jue.</th>
                        <th>Vie.</th>
                        <th>Sab.</th>
                    </tr>
                </thead>
                <tbody id="calendario-cuerpo">
                </tbody>
            </table>
        </section>
        <section id="info-section">
            <section id="current-date">
                <p id="current-date-day">
                </p>
                <p id="current-date-date">
                </p>
            </section>
            <p id="info-subtitle" class="info-subtitle">Al elegir el día se mostrarán los horarios disponibles</p>
            <section id="selected-day-schedule"></section>
        </section>
    </section>
    <script src="{% static 'js/calendario.js' %}" defer></script>
    {{ events|json_script }}
</body>
</html>