#updates-time-user-container h2{
    font-weight: bold;
    text-wrap: wrap;
    margin-left: .3rem;
}

.updates-time-user-container__user{
    text-transform: uppercase;
    margin: 1rem 0;
}

#form-updates-time-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 0 .5rem .5rem;
    padding: .5rem 0;
}

#form-updates-time-user input{ 
    height: 2rem;
    width: 15rem;
    margin: .5rem;
}

.form-updates-time-user__footer{
    margin: .5rem 0;
}

.message{
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-updates-time-user{
        margin: 1rem 2rem;
    }

    #form-updates-time-user input{ 
        height: 3rem;
        width: 25rem;
        font-size: 1.2rem;
    }

    #form-updates-time-user button{
        margin-top: 1rem;
        width: 15rem;
    }
}

@media only screen and (min-width: 1081px) {
    #form-updates-time-user{
        margin: 0 25rem 1rem;
    }

    #form-updates-time-user input{ 
        height: 2.5rem;
        width: 25rem;
        font-size: 1.2rem;
    }

    #form-updates-time-user button{
        margin-top: 1rem;
        height: 3rem;
        width: 20rem;
    }
}