#code-verification-user-container h2{
    text-wrap: balance;
}

#messages p{
    margin: 1rem 0;
    font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-code-verification-user button{
        margin-top: 1rem;
        width: 15rem;
    }
}

@media only screen and (min-width: 1081px) {
    #form-code-verification-user{
        margin: 0 25rem 1rem;
    }

    #form-code-verification-user button{
        margin-top: 1rem;
        width: 20rem;
        height: 3rem;
    }
}
