.confirm-shifts-title{
    margin-bottom: .5rem;
}

.confirm-shifts-container p{
    font-weight: bold;
    margin-left: .3rem;
}

#confirm-shifts-container__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .5rem;
    padding: .5rem;
}

#confirm-shifts-container-section__btn{
    margin-top: 1rem;
}

#confirm-shifts-container-section__btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    width: 10rem;
    cursor: pointer;
    background-color: #1d7723;
}

.confirm-shifts-container-span__button{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.today-shifts-states__close-btn, .confirm-shifts-container-span__button__back-btn{
    display: flex;
    background-color: #f3a41e;
    color: #fff;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin: 4rem auto 0;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #confirm-shifts-container__section{
        width: 90%;
        margin: .5rem auto
    }
    
    #confirm-shifts-container-section__btn a{
        width: 20rem;
    }
}

@media only screen and (min-width: 1081px) {
    #confirm-shifts-container__section{
        margin: 0 30rem 1rem;
    }

    .confirm-shifts-container-span__button{
        margin-top: 2rem;
    }

    #confirm-shifts-container-section__btn a{
        width: 25rem;
    }
}