#shifts-container h2{
    font-weight: bold;
    margin-left: .3rem;
    margin-bottom: .5rem;
}

#shifts-container p{
    font-weight: bold;
}

#shifts-data-states-container{
    display: flex;
    flex-direction: column;
}

#shifts-container__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .5rem;
    padding: .5rem;
}

#shifts-data-states-container h3{
    font-weight: bold;
    margin-top: 1rem;
    margin-left: .3rem;
}

#shifts-container-section__fetch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 0 .5rem .5rem;
    padding: .5rem 0;
}

#shifts-container-section__btns{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

#shifts-container-section__btns a{
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    text-align: center;
    align-content: center;
}

#shifts-container-section__btns .acept-btn{
    background-color: #1d7723;
    
}

#shifts-container-section__btns .cancel-btn{
    background-color: #d10314;
}

.shifts-confirm-state-section__spam{
    margin: 2rem .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.shifts-confirm-state-section__spam button{
    padding: 0;
    width: 10rem;
    height: 3rem;
    font-weight: bold;
}


@media only screen and (min-width: 768px) and (max-width: 1080px){
    #shifts-container__section{
        width: 90%;
        margin: .5rem auto
    }

    #shifts-container-section__btns a {
        width: 10rem;
        height: 3rem;
    }

    .shifts-confirm-state-section__spam button{
        margin-top: 1rem;
        width: 15rem;
    }

    #shifts-container-section__fetch{
        width: 90%;
        margin: .5rem auto
    }
}


@media only screen and (min-width: 1081px) {
    #shifts-data-states-container{
        margin: 4rem 30rem 1rem !important;
    }

    #shifts-container h2{
        margin-bottom: 4rem;
    }

    #shifts-container-section__btns{
        margin-top: 1rem;
    }

    #shifts-container-section__btns a{
        width: 10rem;
        height: 3rem;
    }

    .shifts-confirm-state-section__spam button{
        margin-top: 1rem;
        width: 25rem;
    }

}