#register-user-container h2{
    text-wrap: balance;
}

#messages p{
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.spinner-button {
    transition: opacity 0.75s, visibility 0.75s;
}

.spinner-hidden{
    display: none;
}

.spinner-button::after{
    content: "";
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border: .2rem solid #dddddd;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 0.75s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-register button{
        margin-top: 1rem;
    }

    .spinner-button::after{
        width: .7rem;
        height: .7rem;
        border: .3rem solid #dddddd;
    }
}


@media only screen and (min-width: 1081px) {
    #form-register{
        margin: 0 25rem 1rem;
    }

    #form-register button{
        margin-top: 1rem;
    }

    .spinner-button::after{
        width: 1rem;
        height: 1rem;
        border: .5rem solid #dddddd;
    }
}