#search-shift-section{
    position: relative;
    width: 20rem;
    margin: 0 auto;
}

#search-shift-section__input{
    height: 2rem;
    width: 15rem;
    margin: .5rem;
}

#search-shift-section button{
    padding: .5rem;
}