#search-shift-section{
    position: relative;
    width: 20rem;
    margin: 0 auto;
}

#search-shift-section__input{
    height: 2rem;
    width: 15rem;
    margin: .5rem;
}

#search-shift-section button{
    padding: .5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #search-shift-section {
        position: relative;
        float: right;
        margin-top: 1rem;
        width: 22rem;
    }

    #search-shift-section button{
        font-size: 1rem;
        padding: .6rem 1rem;
    }
}

@media only screen and (min-width: 1081px) {
    #search-shift-section {
        position: relative;
        float: right;
        margin-top: .5rem;
        width: 22rem;
    }

    #shifts-container__section{
        margin: 0 20rem 1rem;

    }

    #search-shift-section button{
        font-size: 1rem;
        padding: .6rem 1rem;
    }
}


