.send-email-container h2{
    margin-bottom: 2rem;
}

.send-email-form__btn, .spinner {
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messages p{
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.spinner {
    margin: 0;
    transition: opacity 0.75s, visibility 0.75s;
}

.spinner-hidden{
    display: none;
}

.spinner::after{
    content: "";
    width: 1rem;
    height: 1rem;
    border: .4rem solid #dddddd;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 0.75s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 1081px) {
    #send-email-form{
        margin: 0 30rem 1rem;
    }
}