#filter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 0 .5rem .5rem;
    padding: .5rem 0;
}

#state {
    width: 15rem;
}

.state-option {
    background-color: #ffffff;
}

.shifts-reports-container__table-section{
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 0 .5rem .5rem;
    overflow-x: auto;
}

#shifts-table {
    width: 100%;
    border-collapse: collapse;
}

#shifts-table th {
    background-color: #f2f2f2;
    padding: 4px;
    text-align: center;
}
  

#shifts-table td {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #ddd; 
}


#shifts-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

#shifts-table tbody td:last-child {
    font-style: italic;
    color: #888;
}

#export-button{
    display: block;
    margin: 3rem auto 2rem;
}

#export-button:disabled{
    background-color: #888;
    cursor: not-allowed;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #filter-form button, #export-button{
        width: 15rem;
        margin-top: 2rem;
    }

    #state {
        width: 15rem;
    }

    #shifts-table th {
        padding: 1.5rem;
    }
    
    #shifts-table td {
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 1081px) {
    #filter-form{
        margin: 0 30rem 1rem;
    }

    .shifts-reports-container__table-section{
        margin: 0 15rem 1rem;
    }

    #shifts-table th {
        padding: 1rem;
    }

    #shifts-table__tbody td {
        padding: 1rem;
    }

    #filter-form button, #export-button{
        margin-top: 1.5rem;
        width: 20rem;
        height: 3rem;
    }
}