#updates-footer-container h2{
    text-wrap: balance;
}

#updates-footer-container h3{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.updates-footer-container{
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem; 
}

.updates-footer-container__information {
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 20rem;
    overflow-y: auto;
}

.updates-footer-container__information p {
    margin: 1rem;
    padding: 0 1rem;
}

.updates-footer-container__information img{
    height: 3rem;
    width: 3rem;
}
#form-updates-footer p{
    font-weight: bold;
}

#form-updates-footer button{
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updates-footer-container__link{
    background-color: transparent;
    color: rgb(13, 64, 114);
}

#messages p{
    font-weight: bold;
    margin-bottom: .5rem ;
}

.updates-footer-container-information__span{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.updates-footer-container-information__span button{
    width: 8rem;
}

.btn-delete{
    background-color: #d10314;
}

.btn-edit{
    background-color: #9c820f;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-updates-footer button{
        width: 20rem;
    }

    .updates-footer-container__information{
        margin: 1rem 2rem;
        max-height: 25rem;
    }

    .updates-footer-container-information__span button{
        width: 12rem;
    }

    .updates-footer-container{
        margin: 0.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        grid-gap: 1rem; 
    }
    
}

@media only screen and (min-width: 1081px) {
    .updates-footer-container{
        margin: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 2rem; 
    }

    .updates-footer-container__information{
        height: 40rem;
        max-height: 35rem;
    }

    .updates-footer-container__information p{
        margin: 1rem;
    }

    .updates-footer-container-information__span button{
        width: 10rem;
    }

    #form-updates-footer{
        margin: 0 25rem 1rem;
    }

    #form-updates-footer button{
        margin-top: 1rem;
        width: 25rem;
    }
}

