.updates-password-user-container h2{
    font-weight: bold;
    text-wrap: wrap;
    margin-left: .3rem;
}

.updates-password-user-container__user{
    text-transform: uppercase;
    margin: 1rem 0;
}

#form-updates-password-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 0 .5rem .5rem;
    padding: .5rem 0;
}

#messages p{
    font-weight: bold;
    margin-bottom: .5rem ;
}


@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-updates-password-user{
        margin: 1rem 2rem;
    }
}
