#updates-picture-user-container h2{
    text-wrap: balance;
}

#messages p{
    font-weight: bold;
    text-wrap: balance;
    text-align: center;
}

.updates-picture-user-container__user{
    text-transform: uppercase;
}


.updates-picture-user-container__picture{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.updates-picture-user-container__picture img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

#form-updates-picture-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 0 .5rem .5rem;
    padding: .5rem 0;
}

#form-updates-picture-user img{
    display: none; 
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 50%;
    margin: 1rem 0;
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    #form-updates-picture-user{
        margin: 1rem 2rem;
    }
}

@media only screen and (min-width: 1081px) {
    #form-updates-picture-user{
        margin: 0 25rem 7rem;
    }

    #form-updates-picture-user button{
        height: 3rem;
        width: 20rem;
    }

}