#updates-password-user-container h2{
    text-wrap: wrap;
}

.updates-password-user-container__user{
    text-transform: uppercase;
    margin: 1rem 0;
}

#messages p{
    font-weight: bold;
    margin-bottom: .5rem ;
}

@media only screen and (min-width: 1081px) {
    #form-updates-password-user{
        margin: 0 25rem 1rem;
    }

    #form-updates-password-user button{
        margin-top: 1rem;
    }
}
