.users-attentions-times-title{
    text-wrap: balance;
    font-weight: bold;
    margin-left: .3rem;
}

.users-attentions-times-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .5rem;
    padding: .5rem;
}

.users-attentions-times-container p{
    font-weight: bold;
}

.users-attentions-times__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: .5rem;
    padding: .5rem;
}

.users-attentions-times__btns{
    display: flex;
    flex-direction: column;
    
}

.users-attentions-times__btns a {
    background-color: #1d7723;
    border-radius: 4px;
    width: 15rem;
    height: 3rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    align-content: center;
    padding: .5rem;
    margin-top: 1rem;
}

.users-attentions-times__close-btn{
    display: flex;
    background-color: red;
    color: #fff;
    border-radius: 4px;
    width: 15rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0;
}

.pagination-container {
    position: relative;
    left: 5rem;
}

.pagination-container span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step-links{
    font-weight: bold;
}

.pagination-container span a {
    margin: .3rem;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    align-content: center;
    background-color: #000000;
}

@media only screen and (min-width: 1081px) {
    .pagination-container{
        right: 30rem;
    }

    .pagination-for-reports{
        right: 16rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    .users-attentions-times-container{
        margin: 1rem 2rem;
    }

    .users-attentions-times__section{
        width: 35rem;
    }

    .users-attentions-times__btns{
        font-size: 1rem;
    }

    .pagination-container {
        left: 14rem;
    }

}

@media only screen and (min-width: 1081px) {
    .users-attentions-times-container{
        margin: 4rem 30rem 1rem !important;
    }

    .users-attentions-times__section{
        width: 40rem;
    }

    .pagination-container {
        left: 16rem;
    }
}